<!-- 
File: base.html
Author: Dawson Maska (dawsonwm@bu.edu), 10/29/2025
Description: html code template to display repeated code throughout the application, such as 
the header and footer, navigation bar, and css link
-->
{% load static %}

<html>
    <head>
        <title>Voter Analytics</title>
        <link rel="stylesheet" href="{% static 'voter_analytics.css' %}">
    </head>
    <body>
        
        <header>
            <nav>
                <ul class="nav-links">
                    <li><a href="{% url 'voters' %}">All Voters</a></li>
                    <li><a href="{% url 'graphs' %}">Graphs</a></li>
                </ul>
            </nav>
        </header>
        <!-- Page specific content -->
        {% block content %}

        {% endblock %}

    </body>