<!-- 
File: board_leaderboard.html
Author: Dawson Maska (dawsonwm@bu.edu), 12/9/2025
Description: The board specific leaderboard stats.
-->

{% extends "project/base.html" %}
{% block content %}
<div class="snake-page leaderboard-page">

    <h1 class="leaderboard-title">{{board.name}} Leaderboard</h1>

    <div class="bots-header">
        <a href="{% url 'board_leaderboard_hub' %}" class="btn-secondary">Back to Board Selection</a>
    </div>
    
    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="snake-button">
                Previous
            </a>
        {% endif %}

        <span class="page-info">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="snake-button">
                Next
            </a>
        {% endif %}
    </div>

    <div class="leaderboard-card">
        <table class="leaderboard-table">
            <thead>
                <tr>
                    <th>Bot</th>
                    <th>Win Rate</th>
                    <th>Wins</th>
                    <th>Games</th>
                    <th>Avg Turns</th>
                    <th>Avg Apples</th>
                </tr>
            </thead>

            <tbody>
                {% for row in rows %}
                <tr>
                    <td class="bot-name-cell">
                             {{ row.bot.name }}
                    </td>
                    <td>{{ row.win_rate|floatformat:2 }}</td>
                    <td>{{ row.wins }}</td>
                    <td>{{ row.games }}</td>
                    <td>{{ row.avg_turns|floatformat:1 }}</td>
                    <td>{{ row.avg_apples|floatformat:2 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}