<!-- 
File: boards.html
Author: Dawson Maska (dawsonwm@bu.edu), 11/25/2025
Description: Displays all boards. Click on a board to see its mapping.
-->

{% extends "project/base.html" %}
{% block content %}

<h1>Boards</h1>

<div class="page-container">
    <div class="buttons-header">
        <a href="{% url 'home_page' %}" class="btn-secondary">Back to Home</a> 
        <a href="{% url 'matches' %}" class="btn-primary">Matches</a>

        <a href="{% url 'bots' %}" class="btn-secondary">
            Bots
        </a>
        <a href="{% url 'create_board' %}" class="btn-primary">Create New Board</a>
    </div>

    <div class="boards-grid">
        {% for board in boards %}
            <a href="{% url 'board' board.pk %}" class="board-card">
                <h2>{{ board.name }}</h2>
                <p>{{ board.width }} x {{ board.height }}</p>
                <p>{{ board.food_count }} apples</p>
                <p>Type: {{ board.board_json.type }}</p>
                <p>Author: {{ board.author }}</p>
            </a>
        {% empty %}
            <p>No boards created yet.</p>
        {% endfor %}
    </div>
</div>

{% endblock %}