<!-- 
File: bots.html
Author: Dawson Maska (dawsonwm@bu.edu), 11/20/2025
Description: The incredible snake bot display page. 
Selected snake bots are shown playing snake in the background!
-->

{% extends "project/base.html" %}

{% block content %}
<div class="snake-page">

    <h1>Snake Bots</h1>

    <!-- Header buttons -->
    <div class="bots-header">
        <a href="{% url 'home_page' %}" class="btn-secondary">Back to Home</a>
        <a href="{% url 'matches' %}" class="btn-primary">Matches</a>

        <a href="{% url 'boards' %}" class="btn-secondary">
            Boards
        </a>

        <a href="{% url 'create_bot' %}" class="btn-primary">Create New Bot</a>
    </div>

    <!-- Bot list -->
    <div class="bot-list">
        {% for bot in bots %}
                <a href = "{% url 'bot' bot.pk %}" class="bot-card">
                    <div class="bot-card-header">
                        <!-- Apparently this is the way you have to access django inside of CSS! -->
                        <h2 class="bot-name" style="--bot-color: {{ bot.color }}">{{ bot.name }}</h2>

                        <div class="bot-stats">
                            <div class="stat"><span>Greediness</span><strong>{{ bot.greediness }}</strong></div>
                            <div class="stat"><span>Caution</span><strong>{{ bot.caution }}</strong></div>
                            <div class="stat"><span>Circliness</span><strong>{{ bot.circliness }}</strong></div>
                            <div class="stat"><span>Introversion</span><strong>{{ bot.introversion }}</strong></div>
                        </div>
                        
                        <div class="stat chaos centered">
                            <span>Chaos</span><strong>{{ bot.chaos }}</strong>
                        </div>

                    </div>
                </a>

        {% empty %}
            <p class="muted">No bots yet. Create one!</p>
        {% endfor %}
    </div>

</div>
{% endblock %}
