<!-- 
File: main.html
Author: Dawson Maska (dawsonwm@bu.edu), 9/16/2025
Description: html code template to display the home page of a restaurant website
-->
{% extends 'restaurant/base.html' %}

{% block content %}
    <main>
        <h1>Welcome to the World's Greatest Bean Experience!</h1>
    </main>
    <img src="https://komonews.com/resources/media/90a59e0a-8ad6-4201-9a9c-0c4c268ca905-full36x25_ScreenShot20240624at2.39.40PM.png" alt="Chicago Bean">
    <div class="intro">
        Fork 'n' Beans is the most deluxe bean dining experience in the entire
        northwest portion of the Millenium Park neighborhood of Chicago.  At 
        Fork 'n' Beans, we pride ourselves on our unique and flavorful bean dishes 
        that are sure to tantalize your taste buds, served only with forks to enhance your
        dining experience. As our motto says: "Only beans, and only forks."  Place an order 
        today and discover the joy of eating deluxe beans with forks!
    </div>
{% endblock %}