<!-- 
File: create_post_form.html
Author: Dawson Maska (dawsonwm@bu.edu), 9/30/2025
Description: form html template for creating a new Post Instance for a Profile
-->
{% extends 'mini_insta/base.html' %}

<!-- Extend the header -->
{% block header %}: Create Post for {{profile.username}}
{% endblock %}

{% block content %}
<main class = "create-post-container">
    <article>
        <h2>Create a New Post for {{profile.username}}</h2>
        <div class = 'form-buttons'>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                    <tr>
                    <div class = "form-group">
                        <th><label for="image_file">Upload Photos:</label></th>
                        <td><input type="file" id="image_file" name="image_file" multiple></td>
                    </div>
                </tr>
                </table>
                <button type="submit">Create Post</button>
            </form>
            <form action={{profile.get_absolute_url}} method = "GET">
                <button type="submit">Cancel!</button>
            </form>
        </div>
        </form>
    </article>
</main>
{% endblock %}

{% block footer %}
{% endblock %}
