<!-- 
File: delete_post_form.html
Author: Dawson Maska (dawsonwm@bu.edu), 10/9/2025
Description: form html template for deleting a post instance
-->
{% extends 'mini_insta/base.html' %}

<!-- Extend the header -->
{% block header %}
: Delete Post for {{profile.username}}
{% endblock %}

{% block content %}

<!-- Show the confirm and delete buttons -->
<main class = "delete-post-container">
    <article>
        <h2>Are You Sure You Want to Delete this Post for {{profile.username}}?</h2>

        <form method="POST">
            {% csrf_token %}
            <button type="submit">Yes, Delete Post</button>
        </form>
        <form action={{profile.get_absolute_url}} method = "GET">
            <button type="submit"> No, Cancel!</button>
        </form>

    </article>
</main>

<!-- Show the full post to be deleted -->
 <main class = "post-container">
    <article>
        <div class="post-header">
            <div class="post-profile-pic-container">
                <a href="{% url 'show_profile' post.profile.pk %}">
                    <img src="{{ post.profile.profile_image_url }}" alt="{{ post.profile.display_name }}">
                </a>
            </div>
            <div class="post-profile-info">
                <h2><a href="{% url 'show_profile' post.profile.pk %}">{{ post.profile.display_name }}</a></h2>      
                <p class="post-timestamp">{{ post.timestamp }}</p>
            </div>
        </div>
        <div class="post-photos">
            <!-- Go through all photos and display them one by one -->
            {% for photo in post.get_all_photos %}
                <div class="photo-item">
                    <img src="{{ photo.get_image_url }}" alt="Photo in post by {{ post.profile.username }}">
                </div>
            {% empty %}
                <p>No photos to display.</p>
            {% endfor %}
        </div>
        <div class="post-caption">
            <p><strong>{{post.profile.username}}</strong>: {{ post.caption }}</p>
        </div>
    </article>
</main>


{% endblock %}

{% block footer %}
{% endblock %}
