<!-- 
File: search.html
Author: Dawson Maska (dawsonwm@bu.edu), 10/9/2025
Description: form html template for making a search query
-->
{% extends 'mini_insta/base.html' %}

<!-- Extend the header -->
{% block header %}: Search
{% endblock %}

{% block content %}
<main class = "create-post-container">
    <article>
        <h2>Submit Your Search</h2>
        <div class = 'form-buttons'>
            <form method="GET">
                <div class = "search-form">
                    <th><label for="query">Search for text, tags, or people:</label></th>
                    <td><input type="text" id="query" name="query"></td>
                </div>
                <button type="submit">Search</button>
            </form>
            <form action="{% url 'show_profile' profile.pk %}" method = "GET">
                <button type="submit">Cancel</button>
            </form>
        </div>
    </article>
</main>
{% endblock %}

{% block footer %} 
{% endblock %}
