<!-- 
File: show_post.html
Author: Dawson Maska (dawsonwm@bu.edu), 9/30/2025
Description: html code template to display a single post in the mini_insta application.
-->
{% extends 'mini_insta/base.html' %}

{% block header %}: Post by {{post.profile.username}} {% endblock %}

{% block content %}

<main class = "post-container">
    <article>
        <div class="post-header">
            <div class="post-profile-pic-container">
                <a href="{% url 'show_profile' post.profile.pk %}">
                    <img src="{{ post.profile.profile_image_url }}" alt="{{ post.profile.display_name }}">
                </a>
            </div>
            <div class="post-profile-info">
                <h2><a href="{% url 'show_profile' post.profile.pk %}">{{ post.profile.display_name }}</a></h2>      
                <p class="post-timestamp">{{ post.timestamp }}</p>
            </div>
        </div>

        <div class="post-actions">
            <!-- Only allow editing if the set of profiles related to the user through the foreign key is the current profile 
                Use first to make sure it doesn't crash for the admin-->
            {% if request.user.id == post.profile.user.id %}
                <a href="{% url 'update_post' post.pk %}">
                    <button type="button">Update Post</button>
                </a>
                <a href="{% url 'delete_post' post.pk %}">
                    <button type="button">Delete Post</button>
                </a>
            {% endif %}
        </div>

        <div class="post-photos">
            <!-- Go through all photos and display them one by one -->
            {% for photo in post.get_all_photos %}
                <div class="photo-item">
                    <img src="{{ photo.get_image_url }}" alt="Photo in post by {{ post.profile.username }}">
                </div>
            {% empty %}
                <p>No photos to display.</p>
            {% endfor %}
        </div>
        <div class="post-caption">
            <!-- Only allow likes if logged in.  If already liked, show unlike link, else like link -->
            {% if request.user.is_authenticated and request.user.profile_set.first in post.get_like_profiles %}
                <a href = "{% url 'unlike' post.pk %}"><img class = "like-icon" src = "https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Heart_coraz%C3%B3n.svg/1200px-Heart_coraz%C3%B3n.svg.png"></a>
            {% elif request.user.is_authenticated %}
                <a href = "{% url 'like' post.pk %}"><img class = "like-icon" src = "https://icons.veryicon.com/png/o/internet--web/elegant-linear-icon/heart-58.png"></a>
            {% endif %}

            <!-- Need multiple if statements to ensure proper wording for low like counts -->
            {% if post.get_likes|length == 0 %}
                <p class = "like-caption">No likes yet</p>
            {% elif post.get_likes|length == 1 %}
                <p class = "like-caption">Liked by <strong>{{post.get_likes.0.profile.username}}</strong></p>
            {% elif post.get_likes|length == 2 %}
                <p class = "like-caption">Liked by <strong>{{post.get_likes.0.profile.username}}</strong> and <strong>1 other</strong></p>
            {% else %}
                <p class = "like-caption">Liked by <strong>{{post.get_likes.0.profile.username}}</strong> and <strong>{{post.get_likes|length|add:-1 }} others</strong></p>
            {% endif %}
            <br>
            <br>
            <p><strong>{{post.profile.username}}</strong>: {{ post.caption }}</p>
        </div>
        <div class="post-comments">
            <!-- Go through all comments and display them one by one -->
            {% for comment in post.get_all_comments %}
                <div class="comment-item">
                    <p><strong>{{ comment.profile.username }}:</strong> {{ comment.text }}</p>
                </div>
            {% endfor %}
        </div>
    </article>
</main>
{% endblock %}

{% block footer %}
{% endblock %}