<!-- 
File: show_following.html
Author: Dawson Maska (dawsonwm@bu.edu), 10/16/2025
Description: html code template to display all profiles a specific profile is following
-->
{% extends 'mini_insta/base.html' %}

{% block header %}: Profiles {{profile.username}} follows: {% endblock %}

{% block content %}

<main class = "grid-container">
    <!-- Display each profile as an image + display name one by one -->
    {% for follower in profile.get_following %}
    <article>
        <h2>{{follower.display_name}}</h2>
        <a href="{% url 'show_profile' follower.pk %}">
        <img class = "avatar" src ={{follower.profile_image_url}}>
        </a>
    </article>
    {% endfor %}
</main>
{% endblock %}

{% block footer %}
    <li><a href="{% url 'show_feed' profile.pk %}"><img class = "footer-icon" src ="https://previews.123rf.com/images/dstarky/dstarky1708/dstarky170800277/83684809-premium-home-icon-or-logo-in-line-style-high-quality-sign-and-symbol-on-a-white-background-vector.jpg"></a></li>
    <li><a href="{% url 'search' profile.pk %}"><img class = "footer-icon" src ="https://m.media-amazon.com/images/I/61ethi3gr0L.jpg"></a></li>
    <li><a href ="{% url 'show_profile' profile.pk %}"><img class = "footer-icon" src="{{profile.profile_image_url}}"></a></li>
{% endblock %}