<!-- 
File: show_profile.html
Author: Dawson Maska (dawsonwm@bu.edu), 9/25/2025
Description: html code template to display a single user profile in the mini_insta application.
-->
{% extends 'mini_insta/base.html' %}

{% block header %}: {{profile.username}} {% endblock %}

{% block content %}
<main>
    <article>
        <div class = 'profile-container'>
            <div class="profile-header">
                <div class="profile-pic-container">
                    <img src="{{ profile.profile_image_url }}" alt="{{ profile.display_name }}">
                </div>
                <div class="profile-info">
                    <h2>{{ profile.display_name }}</h2>
                    <p class="profile-bio">{{ profile.bio_text }}</p>
                    <!-- Only allow editing if the set of profiles related to the user through the foreign key is the current profile 
                        Use first to make sure it doesn't crash for the admin-->
                    {% if request.user.id == profile.user.id %}
                        <a href = "{% url 'update_profile' %}"><button class = 'update-profile-btn'>Update Profile</button></a>
                    {% elif request.user.is_authenticated %}
                        {% if profile in request.user.profile_set.first.get_following %}
                            <form method="POST" action="{% url 'unfollow' profile.pk %}">
                                {% csrf_token %}
                                <!-- Too lazy to rename the css so these are now also update profile buttons -->
                                <button type="submit" class="update-profile-btn">Unfollow</button>
                            </form>
                        {% else %}
                            <form method="POST" action="{% url 'follow' profile.pk %}">
                                {% csrf_token %}
                                <button type="submit" class="update-profile-btn">Follow</button>
                            </form>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class = "profile-extras">
                <p><a href="{% url 'show_followers' profile.pk %}">Followers: {{profile.get_num_followers}}</a></p>
                <p><a href="{% url 'show_following' profile.pk %}">Following: {{profile.get_num_following}}</a></p>
                <P>Posts: {{profile.get_all_posts|length}}</P>
            </div>
            <h1>Posts</h1>
        </div>
        <div class="posts-grid">
            <!-- Go through all posts and display them one by one -->
            {% for post in profile.get_all_posts %}
                <div class="post-item">
                    <!-- If no photo with, display set blank photo, otherwise first photo -->
                    {% if post.get_all_photos|length == 0 %}
                        <a href="{% url 'show_post' post.pk %}">
                            <img src="https://png.pngtree.com/png-clipart/20200311/ourmid/pngtree-empty-frame-with-torn-paper-png-image_2157793.jpg" alt="Post by {{ profile.username }}">
                        </a>
                    {% else %}
                        <a href="{% url 'show_post' post.pk %}">
                            <img src="{{ post.get_all_photos.0.get_image_url }}" alt="Post by {{ profile.username }}">
                        </a>
                    {% endif %}
                    <!-- Maybe display caption too before clicking on it? -->
                </div>
            {% empty %}
                <p>No posts to display.</p>
            {% endfor %}
        </div>
    </article>
</main>
{% endblock %}

{% block footer %}
{% endblock %}