<!-- 
File: show_profile.html
Author: Dawson Maska (dawsonwm@bu.edu), 9/25/2025
Description: html code template to display a single user profile in the mini_insta application.
-->
{% extends 'mini_insta/base.html' %}

{% block header %}: {{profile.username}} {% endblock %}

{% block content %}
<main class = "profile-container">
    <article>
        <div class="profile-header">
            <div class="profile-pic-container">
                <img src="{{ profile.profile_image_url }}" alt="{{ profile.display_name }}">
            </div>
            <div class="profile-info">
                <h2>{{ profile.display_name }}</h2>
                <p class="profile-bio">{{ profile.bio_text }}</p>
            </div>
        </div>
            <div class = "profile-extras">
            <p>Followers: TBD</p>
            <p>Following: TBD</p>
            <P>Posts: TBD</P>
        </div>
        <h1>Posts</h1>
        <div class="posts-grid">
            <!-- Go through all posts and display them one by one -->
            {% for post in profile.get_all_posts %}
                <div class="post-item">
                    <!-- If no photo with, display set blank photo, otherwise first photo -->
                    {% if post.get_all_photos|length == 0 %}
                        <a href="{% url 'show_post' post.pk %}">
                            <img src="https://png.pngtree.com/png-clipart/20200311/ourmid/pngtree-empty-frame-with-torn-paper-png-image_2157793.jpg" alt="Post by {{ profile.username }}">
                        </a>
                    {% else %}
                        <a href="{% url 'show_post' post.pk %}">
                            <img src="{{ post.get_all_photos.0.image_url }}" alt="Post by {{ profile.username }}">
                        </a>
                    {% endif %}
                    <!-- Maybe display caption too before clicking on it? -->
                </div>
            {% empty %}
                <p>No posts to display.</p>
            {% endfor %}
        </div>
    </article>
</main>
{% endblock %}

{% block footer %}
    <li><a href ="{% url 'show_profile' profile.pk %}"><img class = "footer-icon" src="{{profile.profile_image_url}}"></a></li>
{% endblock %}