<!-- 
File: update_profile_form.html
Author: Dawson Maska (dawsonwm@bu.edu), 10/9/2025
Description: form html template for updating a Profile instance 
-->
{% extends 'mini_insta/base.html' %}

<!-- Extend the header -->
{% block header %}
: Update Post for {{profile.username}}
<!-- Allow cancelling -->
<div class="header-cancel">
    <a href="{% url 'show_profile' profile.pk %}">Click to Cancel</a>
<div>
{% endblock %}

{% block content %}
<main class = "create-post-container">
    <article>
        <h2>Update Post for {{profile.username}}</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <button type="submit">Update Post</button>
        </form>
        <form action="{% url 'show_profile' profile.pk %}" method = "GET">
            <input type="submit" value="Cancel">
        </form>
    </article>
</main>
{% endblock %}

{% block footer %}
    <li><a href ="{% url 'show_profile' profile.pk %}"><img class = "footer-icon" src="{{profile.profile_image_url}}"></a></li>
{% endblock %}
